{% extends 'ag_base/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'cortez_create'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Create Cortez
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-6">

                        {{ form_start(form, {'method': 'POST'}) }}
                            {{ form_errors(form) }}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">

									<div class='form-group'>
									    {{ form_label(form.fechahora_recibido) }}
									    {{ form_widget(form.fechahora_recibido, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.fechahora_remesado) }}
									    {{ form_widget(form.fechahora_remesado, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.total_a_cuadrar) }}
									    {{ form_widget(form.total_a_cuadrar, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.total_descuentos) }}
									    {{ form_widget(form.total_descuentos, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.total_diferencia) }}
									    {{ form_widget(form.total_diferencia, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.total_efectivo) }}
									    {{ form_widget(form.total_efectivo, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.total_pos) }}
									    {{ form_widget(form.total_pos, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.total_compras) }}
									    {{ form_widget(form.total_compras, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.total_caja) }}
									    {{ form_widget(form.total_caja, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.inventario) }}
									    {{ form_widget(form.inventario, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.ID_usuario) }}
									    {{ form_widget(form.ID_usuario, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.fechatiempo) }}
									    {{ form_widget(form.fechatiempo, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.estado) }}
									    {{ form_widget(form.estado, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.remesa) }}
									    {{ form_widget(form.remesa, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.impreso) }}
									    {{ form_widget(form.impreso, { attr: { 'class': 'form-control' }}) }}
									</div>

                                                  

                                </div><!-- /.box-body -->

                                {{ form_rest(form) }}

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>

                            </div><!-- /.box -->
                        {{ form_end(form) }}


                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
